<div class="jumbotron">
  <h1>James' Professional Photography Services!!</h1>

</div>

<div class="container">
  <h3>Welcome to the site!!!</h3>
  <h1>About </h1>
    <p>James james james james james james james james james james jamesjames james james jamesjames james</p>
</div>
