<div class="jumbotron">
  <h1>Photos by James</h1>

</div>

<div class="container">
  <h3>Welcome to James' Photo Display</h3>
  <h1>About </h1>
    <p>Here you will find a variety of photos that I have taken. Please feel free to sign-up and leave a comment.</p>
</div>
